<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Tercera-Entrega-Suit" verbose="1" >

    <test name="unitTest">
        <classes>
            <class name="UnitTesting.UnitTestCliente"></class>
            <class name="UnitTesting.UnitTestEmpleado"></class>
            <class name="UnitTesting.UnitTestFabrica"></class>
            <class name="UnitTesting.UnitTestInventario"></class>
            <class name="UnitTesting.UnitTestMarca"></class>
            <class name="UnitTesting.UnitTestPedidos"></class>
        </classes>
    </test>

    <listeners>
        <listener class-name="Listener.Listener"></listener>
    </listeners>
</suite>